.buttonLang{
  transition: background-color 0.3s ease, color 0.3s ease;
}

a{
    width: fit-content;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-top:7px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}



.buttonLang{
    border: none;
    outline: none;
    height: 50px;
    width: 75px;
    background-color: black;
    border: 5px solid black;
    margin:auto;
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: 100ms;
}
.buttonLang:hover{
    transform: scale(1.04);
}
.buttonLang:active{
    transform: scale(1);
    transition: 30ms;
}

.mainTitle{
    top: 0px;
    width: auto;
    min-width: 1280px;
    height: 125px;
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
}
.letter {
    display: inline-block;
    transition: 1s;
    white-space: pre;
    cursor: default;
}
.letter:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.4);
    transition: 0ms;
}

.menuSpacer{
    height: 125px;
    top: 0px;
    position: static;
    background: transparent;
    margin: 0px;
    padding:0px;
}

.mainMenu{
    top: 0px;
    width: auto;
    height: 40px;
    min-width: 600px;
    padding-left:50px;
    padding-right:50px;
    background-color: black;
    position: sticky;
    display: flex;
    margin: 0;
    font-family: sans-serif;
    justify-content: space-evenly;
    z-index: 1;
    flex-wrap: nowrap;
    display: flex;
}

.darkMode{
    position: absolute;
    right: 100px;
    top: 10px;
}
.darkMode input{
    display: none;
}

.slider {
  display: inline-block;
  width: 75px;
  height: 40px;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  border: 5px solid black;
  transition-duration: 100ms;
}.slider:hover{
    transform:scale(1.04);
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #003154;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #2D2D2D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2D2D2D;
}

input:checked + .slider:before {
    background-color: #5f0c85;
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35x);
}